<!doctype html>
<html>
<link rel='stylesheet' href="/stylesheets/style.css">
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<head>
  <title>{{title}}</title>
</head>

<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
</body>

</html>